@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
}

.container{
    border: 1px solid rgb(143, 141, 141);
    padding: 20px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(245, 245, 245, 0.308);
}

input{
    width:320px;
    border: none;
    background: transparent;
    padding: 25px;
    margin: 10px;
    color: #fff;
    text-align: right;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.2);
    cursor: pointer;
    font-size: 40px;
}

input::placeholder{
    color: #fff;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.034);
    font-size: 20px;
    box-shadow: -6px -6px 15px rgba(50, 48, 48, 0.79);
    cursor: pointer;
}

.operator{
    background-color: rgb(247, 130, 5);
}

.first{
    background: rgba(0, 0, 0, 0.12);
}